<!-- 登录 -->
<div id="login-box">
  <div class="container login-panel">
    <div class="row">
      <div class="col-md-5 col-md-offset-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title text-center">
              欢迎登录XXX管理后台
            </h2>
          </div>
          <div class="panel-body">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="username-input" class="col-sm-2 control-label">账号</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="username-input" placeholder="请填写您的账号(手机号)">
                </div>
              </div>
              <div class="form-group">
                <label for="password-input" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password-input" placeholder="请填写您的密码">
                </div>
              </div>
              <a id="btn-login" class="btn btn-success btn-block" href="<%= constructInsideUrl('index/index') %>">马上登录</a>
            </form>
              <div class="link-container">
                <div class="text-right">
                  <a href="javascript:;" onclick="window.switchToPage('forget-password')">我忘记密码了</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>