
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1471224009'); /* IE9*/
  src: url('iconfont.eot?t=1471224009#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1471224009') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1471224009') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1471224009#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-upload:before { content: "\e605"; }
.icon-order-center:before { content: "\e631"; }
.icon-money:before { content: "\e620"; }
.icon-phone:before { content: "\e621"; }
.icon-tips:before { content: "\e608"; }
.icon-password:before { content: "\e624"; }
.icon-shipper:before { content: "\e609"; }
.icon-baojia:before { content: "\e62a"; }
.icon-car-source:before { content: "\e612"; }
.icon-cancel:before { content: "\e606"; }
.icon-setting:before { content: "\e600"; }
.icon-about-us:before { content: "\e601"; }
.icon-address:before { content: "\e617"; }
.icon-edit:before { content: "\e60a"; }
.icon-name:before { content: "\e618"; }
.icon-refresh:before { content: "\e632"; }
.icon-logout:before { content: "\e607"; }
.icon-mine:before { content: "\e633"; }
.icon-discount:before { content: "\e603"; }
.icon-time:before { content: "\e630"; }
.icon-back:before { content: "\e634"; }
.icon-calendar:before { content: "\e610"; }
.icon-arrow-down:before { content: "\e62c"; }
.icon-pingjia:before { content: "\e611"; }
.icon-guide:before { content: "\e629"; }
.icon-working-state:before { content: "\e622"; }
.icon-user-info:before { content: "\e625"; }
.icon-alert:before { content: "\e604"; }
.icon-end-transport:before { content: "\e60d"; }
.icon-contract:before { content: "\e627"; }
.icon-detail:before { content: "\e626"; }
.icon-check:before { content: "\e60f"; }
.icon-rating:before { content: "\e638"; }
.icon-qiangdan:before { content: "\e635"; }
.icon-id-card:before { content: "\e60c"; }
.icon-more:before { content: "\e62d"; }
.icon-car-type:before { content: "\e602"; }
.icon-wallet:before { content: "\e637"; }
.icon-length:before { content: "\e60b"; }
.icon-goods:before { content: "\e613"; }
.icon-carry:before { content: "\e62e"; }
.icon-alipay:before { content: "\e61c"; }
.icon-email:before { content: "\e61a"; }
.icon-status:before { content: "\e615"; }
.icon-selected:before { content: "\e61d"; }
.icon-filter:before { content: "\e628"; }
.icon-fleet:before { content: "\e62b"; }
.icon-id:before { content: "\e61b"; }
.icon-cube:before { content: "\e616"; }
.icon-plate-number:before { content: "\e60e"; }
.icon-weight:before { content: "\e614"; }
.icon-contact-us:before { content: "\e636"; }
.icon-credit-card:before { content: "\e61e"; }
.icon-withdraw:before { content: "\e61f"; }
.icon-description:before { content: "\e619"; }
.icon-issue:before { content: "\e623"; }
.icon-location:before { content: "\e62f"; }
.icon-triangle-down:before { content: "\e63a"; }
.icon-arrow-left:before { content: "\e639"; }
.icon-loading:before { content: "\e63b"; }
