<div id="page-wrapper">
  <div ms-controller="user-modify-info">
    <div class="container-fluid">
      <h2 class="page-header"><%= pageTitle %></h2>
      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="form-group form-required">
              <label>管理员姓名</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group form-required">
              <label>管理员电话</label>
              <input type="text" class="form-control">
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center">
          <button id="btn-submit" type="button" class="btn btn-success btn-lg">确认修改</button>
        </div>
      </div>
    </div>
  </div>
</div>